.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}

.h-divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.inline-button{
  display:inline-block;
}

.display-flex-div{
  display: flex;
  justify-content: space-between;
}

.fixed-button{
    bottom: 12%;
    right: 26%;
}

#toast-container {
  min-width: 10%;
  bottom: 20%;
  right: 50%;
  transform: translateX(50%) translateY(100%);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}